{{#*inline "folderPartial"}}
  {{#if isV9}}
    <li class="directory-item folder flexcol {{#unless folder.expanded}}collapsed{{/unless}}"
        data-folder-id="{{folder.id}}" data-folder-depth="{{folder.depth}}">
  {{else}}
    <li class="directory-item folder flexcol {{#unless folder.folder.expanded}}collapsed{{/unless}}"
        data-folder-id="{{folder.folder.id}}" data-folder-depth="{{folder.folder.depth}}">
  {{/if}}
    <header class="folder-header flexrow" style="background-color: {{folder.data.color}}">
      <h3>
        <input type="checkbox" data-type="Folder" data-folder-type="{{#if isV9}}{{folder.type}}{{else}}{{folder.folder.type}}{{/if}}" value="{{#if isV9}}{{folder.id}}{{else}}{{folder.folder.id}}{{/if}}" checked>
    <i class="fas fa-folder-open fa-fw"></i>{{#if isV9}}{{folder.name}}{{else}}{{folder.folder.name}}{{/if}}
      </h3>
    </header>

    <ol class="subdirectory">
      {{~#each folder.children as |child i|}}
        {{> folderPartial folder=child user=../user isV9=../isV9}}
      {{/each}}
      {{#if isV9}}
        {{#each folder.content}}
          {{> entityPartial}}
        {{/each~}}
      {{else}}
        {{#each folder.documents}}
          {{> entityPartial}}
        {{/each~}}
      {{/if}}
    </ol>
  </li>
{{/inline}}

{{#*inline "entityPartial"}}
  <li class="directory-item entity" data-entity-id="{{this.id}}">
    <label class="flexrow">
      <input type="checkbox" data-type="{{this.documentName}}" name="entity.{{this.documentName}}.{{this.id}}" value="{{this.id}}" checked>
      {{#if this.thumbnail}}<img class="profile actor-profile" title="{{this.name}}" data-src="{{this.thumbnail}}" style="margin-right: 5px;">
      {{else if this.img}}<img class="profile actor-profile" title="{{this.name}}" data-src="{{this.img}}" style="margin-right: 5px;">{{/if}}
      <h4 class="entity-name"><a class="entity-link content-link" data-type="{{this.documentName}}" data-entity="{{this.documentName}}" data-id="{{this.id}}">{{this.name}}</a></h4>
    </label>
  </li>
{{/inline}}

<form>
  <nav class="sheet-tabs tabs" data-group="sections">
    <a class="item" data-tab="scenes"><i class="fas fa-map"></i> {{localize 'SCENE-PACKER.exporter.tabs.scenes'}}</a>
    <a class="item" data-tab="actors"><i class="fas fa-users"></i> {{localize 'SCENE-PACKER.exporter.tabs.actors'}}</a>
    <a class="item" data-tab="items"><i class="fas fa-suitcase"></i> {{localize 'SCENE-PACKER.exporter.tabs.items'}}</a>
    <a class="item" data-tab="journals"><i class="fas fa-book-open"></i> {{localize 'SCENE-PACKER.exporter.tabs.journals'}}</a>
    <a class="item" data-tab="tables"><i class="fas fa-th-list"></i> {{localize 'SCENE-PACKER.exporter.tabs.tables'}}</a>
    {{#if supportsCards}}<a class="item" data-tab="cards"><i class="fas fa-id-badge"></i> {{localize 'SCENE-PACKER.exporter.tabs.cards'}}</a>{{/if}}
    <a class="item" data-tab="playlists"><i class="fas fa-music"></i> {{localize 'SCENE-PACKER.exporter.tabs.playlists'}}</a>
    <a class="item" data-tab="macros"><i class="fas fa-plug"></i> {{localize 'SCENE-PACKER.exporter.tabs.macros'}}</a>
    <a class="item" data-tab="options"><i class="fas fa-cogs"></i> {{localize 'SCENE-PACKER.exporter.tabs.options'}}</a>
  </nav>

  <section class="content directory">

    <div id="scene-packer-exporter-tab-scenes" class="tab" data-tab="scenes" data-group="sections">
      <header class="directory-header">
        <div class="header-search flexrow">
          <i class="fas fa-search"></i>
          <input type="text" name="search" value="" placeholder="{{localize 'SCENE-PACKER.exporter.search.scenes'}}" autocomplete="off"/>
          <a class="header-control toggle-all" title="{{localize 'SCENE-PACKER.exporter.toggle-checkboxes'}}" data-state="1"><i class="fas fa-check-square"></i></a>
          <a class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i class="fas fa-sort-amount-up"></i></a>
        </div>
      </header>

      <ol class="directory-list" data-entity="Scene">
        {{~#each scenes.tree.children as |f fi|}}
          {{> folderPartial folder=f user=../user isV9=../isV9}}
        {{/each}}
        {{#if isV9}}
          {{#each scenes.tree.content}}
            {{> entityPartial}}
          {{/each~}}
        {{else}}
          {{#each scenes.tree.documents}}
            {{> entityPartial}}
          {{/each~}}
        {{/if}}
      </ol>
    </div>

    <div id="scene-packer-exporter-tab-actors" class="tab" data-tab="actors" data-group="sections">
      <header class="directory-header">
        <div class="header-search flexrow">
          <i class="fas fa-search"></i>
          <input type="text" name="search" value="" placeholder="{{localize 'SCENE-PACKER.exporter.search.actors'}}" autocomplete="off"/>
          <a class="header-control toggle-all" title="{{localize 'SCENE-PACKER.exporter.toggle-checkboxes'}}" data-state="1"><i class="fas fa-check-square"></i></a>
          <a class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i class="fas fa-sort-amount-up"></i></a>
        </div>
      </header>

      <ol class="directory-list" data-entity="Actor">
        {{~#each actors.tree.children as |f fi|}}
          {{> folderPartial folder=f user=../user isV9=../isV9}}
        {{/each}}
        {{#if isV9}}
          {{#each actors.tree.content}}
            {{> entityPartial}}
          {{/each~}}
        {{else}}
          {{#each actors.tree.documents}}
            {{> entityPartial}}
          {{/each~}}
        {{/if}}
      </ol>
    </div>

    <div id="scene-packer-exporter-tab-items" class="tab" data-tab="items" data-group="sections">
      <header class="directory-header">
        <div class="header-search flexrow">
          <i class="fas fa-search"></i>
          <input type="text" name="search" value="" placeholder="{{localize 'SCENE-PACKER.exporter.search.items'}}" autocomplete="off"/>
          <a class="header-control toggle-all" title="{{localize 'SCENE-PACKER.exporter.toggle-checkboxes'}}" data-state="1"><i class="fas fa-check-square"></i></a>
          <a class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i class="fas fa-sort-amount-up"></i></a>
        </div>
      </header>

      <ol class="directory-list" data-entity="Item">
        {{~#each items.tree.children as |f fi|}}
          {{> folderPartial folder=f user=../user isV9=../isV9}}
        {{/each}}
        {{#if isV9}}
          {{#each items.tree.content}}
            {{> entityPartial}}
          {{/each~}}
        {{else}}
          {{#each items.tree.documents}}
            {{> entityPartial}}
          {{/each~}}
        {{/if}}
      </ol>
    </div>

    <div id="scene-packer-exporter-tab-journals" class="tab" data-tab="journals" data-group="sections">
      <header class="directory-header">
        <div class="header-search flexrow">
          <i class="fas fa-search"></i>
          <input type="text" name="search" value="" placeholder="{{localize 'SCENE-PACKER.exporter.search.journals'}}" autocomplete="off"/>
          <a class="header-control toggle-all" title="{{localize 'SCENE-PACKER.exporter.toggle-checkboxes'}}" data-state="1"><i class="fas fa-check-square"></i></a>
          <a class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i class="fas fa-sort-amount-up"></i></a>
        </div>
      </header>

      <ol class="directory-list" data-entity="JournalEntry">
        {{~#each journals.tree.children as |f fi|}}
          {{> folderPartial folder=f user=../user isV9=../isV9}}
        {{/each}}
        {{#if isV9}}
          {{#each journals.tree.content}}
            {{> entityPartial}}
          {{/each~}}
        {{else}}
          {{#each journals.tree.documents}}
            {{> entityPartial}}
          {{/each~}}
        {{/if}}
      </ol>
    </div>

    <div id="scene-packer-exporter-tab-tables" class="tab" data-tab="tables" data-group="sections">
      <header class="directory-header">
        <div class="header-search flexrow">
          <i class="fas fa-search"></i>
          <input type="text" name="search" value="" placeholder="{{localize 'SCENE-PACKER.exporter.search.tables'}}" autocomplete="off"/>
          <a class="header-control toggle-all" title="{{localize 'SCENE-PACKER.exporter.toggle-checkboxes'}}" data-state="1"><i class="fas fa-check-square"></i></a>
          <a class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i class="fas fa-sort-amount-up"></i></a>
        </div>
      </header>

      <ol class="directory-list" data-entity="RollTable">
        {{~#each tables.tree.children as |f fi|}}
          {{> folderPartial folder=f user=../user isV9=../isV9}}
        {{/each}}
        {{#if isV9}}
          {{#each tables.tree.content}}
            {{> entityPartial}}
          {{/each~}}
        {{else}}
          {{#each tables.tree.documents}}
            {{> entityPartial}}
          {{/each~}}
        {{/if}}
      </ol>
    </div>

    <div id="scene-packer-exporter-tab-playlists" class="tab" data-tab="playlists" data-group="sections">
      <header class="directory-header">
        <div class="header-search flexrow">
          <i class="fas fa-search"></i>
          <input type="text" name="search" value="" placeholder="{{localize 'SCENE-PACKER.exporter.search.playlists'}}" autocomplete="off"/>
          <a class="header-control toggle-all" title="{{localize 'SCENE-PACKER.exporter.toggle-checkboxes'}}" data-state="1"><i class="fas fa-check-square"></i></a>
          <a class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i class="fas fa-sort-amount-up"></i></a>
        </div>
      </header>

      <ol class="directory-list" data-entity="Playlist">
        {{~#each playlists.tree.children as |f fi|}}
          {{> folderPartial folder=f user=../user isV9=../isV9}}
        {{/each}}
        {{#if isV9}}
          {{#each playlists.tree.content}}
            {{> entityPartial}}
          {{/each~}}
        {{else}}
          {{#each playlists.tree.documents}}
            {{> entityPartial}}
          {{/each~}}
        {{/if}}
      </ol>
    </div>

    <div id="scene-packer-exporter-tab-cards" class="tab" data-tab="cards" data-group="sections">
      <header class="directory-header">
        <div class="header-search flexrow">
          <i class="fas fa-search"></i>
          <input type="text" name="search" value="" placeholder="{{localize 'SCENE-PACKER.exporter.search.cards'}}" autocomplete="off"/>
          <a class="header-control toggle-all" title="{{localize 'SCENE-PACKER.exporter.toggle-checkboxes'}}" data-state="1"><i class="fas fa-check-square"></i></a>
          <a class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i class="fas fa-sort-amount-up"></i></a>
        </div>
      </header>

      <ol class="directory-list" data-entity="Cards">
        {{~#each cards.tree.children as |f fi|}}
          {{> folderPartial folder=f user=../user isV9=../isV9}}
        {{/each}}
        {{#if isV9}}
          {{#each cards.tree.content}}
            {{> entityPartial}}
          {{/each~}}
        {{else}}
          {{#each cards.tree.documents}}
            {{> entityPartial}}
          {{/each~}}
        {{/if}}
      </ol>
    </div>

    <div id="scene-packer-exporter-tab-macros" class="tab" data-tab="macros" data-group="sections">
      <header class="directory-header">
        <div class="header-search flexrow">
          <i class="fas fa-search"></i>
          <input type="text" name="search" value="" placeholder="{{localize 'SCENE-PACKER.exporter.search.macros'}}" autocomplete="off"/>
          <a class="header-control toggle-all" title="{{localize 'SCENE-PACKER.exporter.toggle-checkboxes'}}" data-state="1"><i class="fas fa-check-square"></i></a>
          <a class="header-control collapse-all" title="{{localize 'FOLDER.Collapse'}}"><i class="fas fa-sort-amount-up fa-fw"></i></a>
        </div>
      </header>

      <ol class="directory-list" data-entity="Macro">
        {{~#each macros.tree.children as |f fi|}}
          {{> folderPartial folder=f user=../user isV9=../isV9}}
        {{/each}}
        {{#if isV9}}
          {{#each macros.tree.content}}
            {{> entityPartial}}
          {{/each~}}
        {{else}}
          {{#each macros.tree.documents}}
            {{> entityPartial}}
          {{/each~}}
        {{/if}}
      </ol>
    </div>

    <div class="tab" data-tab="options" data-group="sections">
      <p>{{{localize 'SCENE-PACKER.exporter.options.intro'}}}</p>

      <div class="form-group">
        <label for="SP-export-packageName">
          <b>{{localize 'SCENE-PACKER.exporter.options.package-name'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.package-name-help'}}"></i>
        </label>
        <input type="text" id="SP-export-packageName" name="packageName" value="{{packageName}}" maxlength="50" required>
      </div>
      <div class="form-group">
        <label for="SP-export-version">
          <b>{{localize 'SCENE-PACKER.exporter.options.version'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.version-help'}}"></i>
        </label>
        <input type="text" id="SP-export-version" name="version" value="{{packageVersion}}" required>
      </div>
      <div class="form-group">
        <label for="SP-export-author">
          <b>{{localize 'SCENE-PACKER.exporter.options.author'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.author-help'}}"></i>
        </label>
        <input type="text" id="SP-export-author" name="author" value="{{packageAuthor}}" required>
      </div>
      <div class="form-group">
        <label for="SP-export-packageDescription">
          <b>{{localize 'SCENE-PACKER.exporter.options.package-description'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.package-description-help'}}"></i>
        </label>
        <div class="package-description">
          {{#unless isV9}}
            {{editor packageDescription target="packageDescription" button=false editable=true owner=true}}
          {{else}}
            {{editor content=packageDescription target="packageDescription" button=false editable=true owner=true}}
          {{/unless}}
        </div>
      </div>
      <div class="form-group file-picker">
        <label for="SP-export-packageCover">
          <b>{{localize 'SCENE-PACKER.exporter.options.package-cover'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.package-cover-help'}}"></i>
        </label>
        <div class="form-fields">
          <input type="text" id="SP-export-packageCover" name="packageCover" value="{{packageCover}}" placeholder="https://example.com/adventure.png">
          {{filePicker target="packageCover" type="image"}}
        </div>
      </div>
      <div class="form-group">
        <label for="SP-export-email">
          <b>{{localize 'SCENE-PACKER.exporter.options.email'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.email-help'}}"></i>
        </label>
        <input type="text" id="SP-export-email" name="email" value="{{packageEmail}}">
      </div>
      <div class="form-group">
        <label for="SP-export-discordId">
          <b>{{localize 'SCENE-PACKER.exporter.options.discord-id'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.discord-id-help'}}"></i>
        </label>
        <input type="text" id="SP-export-discordId" name="discordId" value="{{packageDiscord}}">
      </div>
      <div class="form-group">
        <label for="SP-export-externalLink">
          <b>{{localize 'SCENE-PACKER.exporter.options.external-link'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.external-link-help'}}"></i>
        </label>
        <input type="text" id="SP-export-externalLink" name="externalLink" value="" placeholder="https://patreon.com">
      </div>
      <div class="form-group">
        <label for="SP-export-welcomeJournal">
          <b>{{localize 'SCENE-PACKER.exporter.options.welcome-journal'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.welcome-journal-help'}}"></i>
        </label>
        <input type="text" id="SP-export-welcomeJournal" name="welcomeJournal" value="" placeholder="{{localize 'SCENE-PACKER.exporter.options.welcome-journal-drop-text'}}" autocomplete="off">
      </div>
      <div class="form-group">
        <div>
          <b>{{localize 'SCENE-PACKER.exporter.options.allow-complete-import'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.allow-complete-import-help'}}"></i>
        </div>
        <label for="SP-export-allow-import-yes">
          <input type="radio" id="SP-export-allow-import-yes" name="allowCompleteImport" value="yes" checked>
          <b>{{localize 'Yes'}}</b>
        </label>
        <label for="SP-export-allow-import-no">
          <input type="radio" id="SP-export-allow-import-no" name="allowCompleteImport" value="no">
          <b>{{localize 'No'}}</b>
        </label>
      </div>

      <hr>
      <div class="adventure-categorisation">
        <h2>{{localize 'SCENE-PACKER.exporter.options.adventure-categorisation'}}</h2>
        <div class="form-group">
          <label for="SP-export-system">
            <b>{{localize 'SCENE-PACKER.exporter.options.adventure-system'}}</b>
            <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.adventure-system-help'}}"></i>
          </label>
          <input type="text" id="SP-export-system" name="system" value="{{adventureSystem}}" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="SP-export-adventureCategory">
          <b>{{localize 'SCENE-PACKER.exporter.options.adventure-category'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.adventure-category-help'}}"></i>
          </label>
          <label for="SP-export-duration">
          <b>{{localize 'SCENE-PACKER.exporter.options.adventure-duration'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.adventure-duration-help'}}"></i>
          </label>
        </div>
        <div class="form-group">
          <select id="SP-export-adventureCategory" name="adventureCategory">
            {{selectOptions adventureCategoryOptions nameAttr="key" labelAttr="label" localize=true blank=""}}
          </select>
          <input type="number" id="SP-export-duration" name="duration" min="0" value="" placeholder="{{localize 'SCENE-PACKER.exporter.options.adventure-duration-placeholder'}}" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="SP-export-playersRecommended">
            <b>{{localize 'SCENE-PACKER.exporter.options.adventure-players-recommended'}}</b>
            <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.adventure-players-recommended-help'}}"></i>
          </label>
          <label for="SP-export-playersMin">
            <b>{{localize 'SCENE-PACKER.exporter.options.adventure-players-min'}}</b>
            <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.adventure-players-min-help'}}"></i>
          </label>
          <label for="SP-export-playersMax">
            <b>{{localize 'SCENE-PACKER.exporter.options.adventure-players-max'}}</b>
            <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.adventure-players-max-help'}}"></i>
          </label>
        </div>
        <div class="form-group">
          <input type="number" id="SP-export-playersRecommended" name="playersRecommended" min="0" value="" autocomplete="off">
          <input type="number" id="SP-export-playersMin" name="playersMin" min="0" value="" autocomplete="off">
          <input type="number" id="SP-export-playersMax" name="playersMax" min="0" value="" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="SP-export-playersMin">
          <b>{{localize 'SCENE-PACKER.exporter.options.adventure-player-level'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.adventure-player-level-help'}}"></i>
          </label>
          <div class="sp-player-levels flexcol">
            <div class="form-group">
              <input type="number" name="playerLevelRecommended" min="0" value="" placeholder="{{localize 'SCENE-PACKER.exporter.options.adventure-player-level-recommended-placeholder'}}" autocomplete="off">
              <input type="number" name="playerLevelMin" min="0" value="" placeholder="{{localize 'SCENE-PACKER.exporter.options.adventure-player-level-min-placeholder'}}" autocomplete="off">
              <input type="number" name="playerLevelMax" min="0" value="" placeholder="{{localize 'SCENE-PACKER.exporter.options.adventure-player-level-max-placeholder'}}" autocomplete="off">
              <span class="spacer"></span>
            </div>
            <i id="SP-export-player-levels-add" class="fas fa-plus-circle" title="{{localize 'SCENE-PACKER.exporter.options.adventure-player-level-add'}}"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="SP-export-grid">
            <b>{{localize 'SCENE-PACKER.exporter.options.adventure-grid-type'}}</b>
            <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.adventure-grid-type-help'}}"></i>
          </label>
          <div class="sp-tokenStyle">
            <label for="SP-export-grid-square">
              <input type="checkbox" id="SP-export-grid-square" name="grid" value="square" {{checked hasSquareGrids}}>
              {{localize 'SCENE-PACKER.exporter.options.adventure-grid-type-square'}}
            </label>
            <label for="SP-export-grid-hex">
              <input type="checkbox" id="SP-export-grid-hex" name="grid" value="hex" {{checked hasHexGrids}}>
              {{localize 'SCENE-PACKER.exporter.options.adventure-grid-type-hex'}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="SP-export-tokenStyle">
            <b>{{localize 'SCENE-PACKER.exporter.options.adventure-token-style'}}</b>
            <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.adventure-token-style-help'}}"></i>
          </label>
          <div class="sp-tokenStyle">
            <label for="SP-export-tokenStyle-topDown">
              <input type="checkbox" id="SP-export-tokenStyle-topDown" name="tokenStyles" value="top-down">
              {{localize 'SCENE-PACKER.exporter.options.adventure-token-style-top-down'}}
            </label>
            <label for="SP-export-tokenStyle-token">
              <input type="checkbox" id="SP-export-tokenStyle-token" name="tokenStyles" value="token">
              {{localize 'SCENE-PACKER.exporter.options.adventure-token-style-token'}}
            </label>
            <label for="SP-export-tokenStyle-iso">
              <input type="checkbox" id="SP-export-tokenStyle-iso" name="tokenStyles" value="iso">
              {{localize 'SCENE-PACKER.exporter.options.adventure-token-style-iso'}}
            </label>
            <label for="SP-export-tokenStyle-other">
              <input type="checkbox" id="SP-export-tokenStyle-other" name="tokenStyles" value="other">
              {{localize 'SCENE-PACKER.exporter.options.adventure-token-style-other'}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="SP-export-pregen" style="flex:3">
            <b>{{localize 'SCENE-PACKER.exporter.options.adventure-pregen-characters'}}</b>
            <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.adventure-pregen-characters-help'}}"></i>
          </label>
          <div class="sp-pregen">
            <label for="SP-export-pregen-yes">
              <input type="radio" id="SP-export-pregen-yes" name="pregen" value="yes">
              {{localize 'Yes'}}
            </label>
            <label for="SP-export-pregen-no">
              <input type="radio" id="SP-export-pregen-no" name="pregen" value="no" checked>
              {{localize 'No'}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="SP-export-theme">
          <b>{{localize 'SCENE-PACKER.exporter.options.adventure-theme'}}</b>
          <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.adventure-theme-help'}}"></i>
          </label>
          <div class="form-group">
            <input class="flex3" type="text" id="SP-export-theme" name="themes" value="" placeholder="{{localize 'SCENE-PACKER.exporter.options.adventure-theme-placeholder'}}" autocomplete="off">
            <select id="SP-export-theme-suggestions" name="adventureThemeSuggestions">
              {{selectOptions adventureThemeSuggestions nameAttr="key" labelAttr="label" localize=true blank="SCENE-PACKER.exporter.options.adventure-tag-suggestions"}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="SP-export-tags">
            <b>{{localize 'SCENE-PACKER.exporter.options.adventure-tags'}}</b>
            <i class="fas fa-question-circle" title="{{localize 'SCENE-PACKER.exporter.options.adventure-tags-help'}}"></i>
          </label>
          <div class="form-group">
            <input class="flex3" type="text" id="SP-export-tags" name="tags" value="" placeholder="{{localize 'SCENE-PACKER.exporter.options.adventure-tags-placeholder'}}" autocomplete="off">
            <select id="SP-export-tags-suggestions" name="adventureTagSuggestions">
              {{selectOptions adventureTagSuggestions nameAttr="key" labelAttr="label" localize=true blank="SCENE-PACKER.exporter.options.adventure-tag-suggestions"}}
            </select>
          </div>
        </div>
      </div>

      <hr>
      <p>{{{localize 'SCENE-PACKER.exporter.options.next'}}}</p>
      <p>{{{localize 'SCENE-PACKER.exporter.options.help'}}}</p>
      <hr>
      <p><i class="fas fa-money-bill-alt"></i> {{{localize 'SCENE-PACKER.exporter.options.support'}}} <i class="fas fa-smile"></i></p>
    </div>
  </section>

  <footer class="sheet-footer">
    <hr>
    <p class="summary">{{ summary }}</p>
  </footer>

  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit" value="1">
      <i class="fas fa-check"></i> {{localize 'Next'}}
    </button>
    <button type="button" name="close">
      <i class="fas fa-times"></i> {{localize 'Close'}}
    </button>
  </footer>
</form>
