{{#*inline "loading"}}
  <section class="content loading">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    <p>{{localize 'SCENE-PACKER.importer.loading'}}</p>
  </section>
{{/inline}}

{{#*inline "processing"}}
  <section class="content processing">
    <h3>{{pack.name}}</h3>
    {{#if pack.description}}
      <div class="description">
        {{{pack.description}}}
      </div>
    {{/if}}

    <hr>

    {{{processingMessage}}}
  </section>
{{/inline}}

<form autocomplete="off">
  {{#unless processing}}
  {{#if loading}}
    {{> loading}}
  {{else}}
  <section class="content">
    {{#if pack.cover_image}}
      <div class="cover-image">
        <img src="{{pack.cover_image}}" alt="{{pack.name}}">
      </div>
    {{/if}}
    <h3>{{pack.name}}</h3>
    {{#if pack.description}}
      <div class="description">
        {{{pack.description}}}
      </div>
    {{/if}}
    <p>
      {{localize "SCENE-PACKER.importer.version"}} {{pack.version}}
    </p>
    <p>
      {{localize "SCENE-PACKER.importer.author"}} {{pack.author}}
    </p>
    {{#if pack.email}}
      <p>
        {{localize "SCENE-PACKER.importer.email"}} <a href="mailto:{{pack.email}}">{{pack.email}}</a>
      </p>
    {{/if}}
    {{#if pack.discordId}}
      <p class="text-select">
      {{localize "SCENE-PACKER.importer.discord"}} {{pack.discordId}}
      </p>
    {{/if}}
    {{#if pack.external_link}}
      <p>
        {{localize "SCENE-PACKER.importer.more-info"}} <a href="{{pack.external_link}}" target="_blank">{{pack.external_link}}</a>
      </p>
    {{/if}}
  </section>
  {{/if}}

  <footer class="app-footer flexrow">
    <button type="submit" name="import-all" value="1" {{#if loading}}disabled{{/if}}>
      <i class="fas fa-check-double"></i> {{localize 'SCENE-PACKER.importer.import-all'}}
    </button>
    <button type="submit" name="import-one" value="1" {{#if loading}}disabled{{/if}}>
      <i class="fas fa-check"></i> {{localize 'SCENE-PACKER.importer.import-one'}}
    </button>
    <button type="button" name="close">
      <i class="fas fa-times"></i> {{localize 'Cancel'}}
    </button>
  </footer>
  {{else}}
    {{> processing}}
  {{/unless}}
</form>
