{{#*inline "processing"}}
  <section class="content processing">
    <h3>{{filename}}</h3>

    {{{processingMessage}}}
  </section>
{{/inline}}

<form autocomplete="off">
  {{#unless processing}}
  <section class="content">
    <h2>{{localize 'SCENE-PACKER.zip-importer.title'}}</h2>

    <div class="description">
      <p>{{localize 'SCENE-PACKER.zip-importer.description'}}</p>
      <p>{{localize 'SCENE-PACKER.zip-importer.description2'}}</p>
    </div>

    <hr>

    <div class="form-group">
      <label for="zip-file">{{localize 'SCENE-PACKER.zip-importer.file'}}</label>
      <input type="file" id="zip-file" name="zip-file" accept=".zip" required>
    </div>

    <hr>
  </section>

  <footer class="app-footer flexrow">
    <button type="submit" name="submit" value="1">
      <i class="fas fa-file-import"></i> {{localize 'Submit'}}
    </button>
    <button type="button" name="cancel">
      <i class="fas fa-times"></i> {{localize 'Cancel'}}
    </button>
  </footer>
  {{else}}
    {{> processing}}
  {{/unless}}
</form>
